*{
    margin: 0;
    padding: 0;
direction: rtl;

}

#conte{
    width: 98%;
    margin: auto;
}

header{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 45, 58);
    color: aliceblue;
    padding-top: 5px;
    padding-bottom:10px;
}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 45, 58);
    color: aliceblue;
   height: 60px;
   width: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}



#container{
    height:620px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

#container div{
    width: 20%;
    height: 100%;
    background-color: rgb(0, 132, 255);
   
}

#container #pan_middle{
    height: 100%;
    display:flex;
    width: 60%;
    background-color:  rgb(0, 132, 255);
    border:20px ;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-color: white;
    border-width: 3px;
    

    
}   
#right_1{
    text-align: center;
    justify-content: center;
    border-left: 20px;
    display: flex;
    border-style: solid;
    border-color: white;
    border-width: 3px;
}
#left_1{
    border-style: solid;
    border-color: white;
    border-width: 3px;
}
#diagrama{
  display: flex;
  justify-content:center;
  align-items: center;
  

}
#bitzua{
    text-align: center;
    
}
