* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
    margin: auto;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 255, 0.733);
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 3px inset white;
   }

.header-text{

 background-color: black;

}



.line-border{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    
   
}


img{
    width: 50px;
    
   
}

.memory-game{
    width: 245px;
    bottom: 2px;
    margin: auto ;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-left: 3px solid;
    border-right: 3px solid;
    
 
    
    
    
    
   
    
    
    
}

.memory-card{
    width: calc() 25% -10px;
    height: calc() 33.333% 10px;
    margin: 3px;
    position: relative;
    left: 10px;
    bottom: 1px;
    
   
   
    
    
    

}





.front-face
.back-face{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    


}









